Repository BKBASE-Plugin/iceberg, pull requests merged in 2022-03, with the labels that each got.

#25 feature: 合并0.12.1代码 #24
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveTableOperations.java
Labels: HIVE

#27 release version 0.13.1-bkbase.1 #26
  build.gradle
  deploy.gradle
  version.txt
Labels: INFRA, BUILD

#29 feature: add spark 2.4 and flink 1.13 to release 0.13.1-bkbase.2 #28
  gradle.properties
  version.txt
Labels: BUILD

#31 feature: RewriteDataFilesAction允许重写仅有一个数据文件的分区 #30
  core/src/main/java/org/apache/iceberg/actions/BaseRewriteDataFilesAction.java
Labels: CORE
